services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
      container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
      container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
